@font-face {
    font-family: ronaldBold;
    src: url(../fonts/RondalBold-2O4lW.otf);
}
@font-face {
    font-family: ronaldReg;
    src: url(../fonts/RondalRegular-K7ORW.otf);
}
@font-face {
    font-family: ronaldSemi;
    src: url(../fonts/RondalSemibold-vmZ5Z.otf);
}
@font-face {
    font-family: Geraldien;
    src: url(../fonts/GeraldinePersonalUseItalic-PK12m.ttf);
}
@font-face {
    font-family: sage;
    src: url(../fonts/SageylSageyl-rgGnB.ttf);
}
@font-face {
    font-family: cutie;
    src: url(../fonts/CutieBiscuit-8MjAB.ttf);
}
@font-face {
    font-family: eastgold;
    src: url(../fonts/Eastgold-8MBnz.ttf);
}
@font-face {
    font-family: nectarBold;
    src: url(../fonts/Nectar\ Bold.otf);
}
@font-face {
    font-family: nectar;
    src: url(../fonts/Nectar\ Regular.otf);
}
@font-face {
    font-family: existanceLigth;
    src: url(../fonts/Existence-Light.otf);
}

/* STYLES ON ALL PAGES */

.navbar-brand{
    font-family: eastgold;
    font-size: 35px;
}

.nav-link{
    color: #000000;
    font-family: nectarBold;
}

footer{
    text-align: center;
    padding-top: 25px;
}

/* ONLY HOME PG STYLES */
main{
    text-align: center;
    background-image: url('../images/mymind-XUlsF9LYeVk-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 25px;
    font-family: nectarBold;
}

.main-text p{
    max-width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* HEADINGS STYLES */

.main-h1{
    font-family: nectarBold;
}

.col{
    text-align: center;
    margin-top: 50px;
    
}

.expi-list{
    width: 25vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.expi-list header{
    font-weight: bold;
}


/* IMG PAGE STYLES */

.row {
    margin: 0;
    padding-bottom: 65px;
}


.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top{
    height: 200px;
}


/* FLEX BOX PAGE STYLES */
.flex-head {
    font-family: nectarBold;
    text-align: center;
    margin: 50px auto 10px auto;
}

.flex-text{
    font-family: nectarBold;
    text-align: center;
    margin-bottom: 45px;
    font-size: 10px;
}


/* DIV PAGE DIVS */

.div-cont{
    font-family: nectarBold;
}

.div {
    margin: 10px;
    background-color: aqua;
    padding: 75px;
}

.div p{
    font-family: nectar;
    font-weight: 550;
}

.one{
    border: #000000 solid 2px;
}

.two{
    background-color: rgb(81, 31, 197);
    opacity: 50%;
    color: #ffffff;
}

.div-text{
    background-color: #000000;
    padding:15px;
}



